
<div class="page-flexbox-wrapper">
  <div class="header"></div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
  <footer class="page-footer purple">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <img src="../../assets/img/site-logo.png" alt="5aSec" width="170" height="48">
          <p class="grey-text text-lighten-4">It all begins with passion...</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" routerLink="/home">Home</a></li>
            <li><a class="grey-text text-lighten-3"
                   href="http://5asecindonesia.com/">5aSec Corporate Site</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">...</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">...</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        &copy; 2016 Copyright 5aSec Indonesia, All rights reserved. <span
        class="grey-text text-lighten-4 right" href="#!">Designed By
					IT Department</span>
      </div>
    </div>
  </footer>
</div>
