<div class="row">
  <div class="col s12 m6 offset-m3">
    <div class="row">
      <div class="col s12 m12 right-align">
        <a (click)="logout()" href="#">Click Here to logout</a>
      </div>
    </div>
    <ul class="collection">
      <li class="collection-item avatar"><i
        class="fa fa-file-pdf-o circle deep-orange"></i> <span class="title">
					<a routerLink="./report/custtranshist">Customer Transaction
						History</a>
			</span>
        <p>Management report</p> <a routerLink="./report/custtranshist"
                                    class="secondary-content"><i class="fa fa-chevron-right"></i></a></li>
      <li class="collection-item avatar"><i
        class="fa fa-file-pdf-o circle deep-orange"></i> <span class="title">
					<a routerLink="./report/dailyload">Daily Loading</a>
			</span>
        <p>Management report</p> <a routerLink="./report/dailyload"
                                    class="secondary-content"><i class="fa fa-chevron-right"></i></a></li>
      <li class="collection-item avatar"><i
        class="fa fa-file-pdf-o circle deep-orange"></i> <span class="title"><a
        routerLink="./report/recvord">Receive Order</a></span>
        <p>Management report</p> <a routerLink="./report/recvord"
                                    class="secondary-content"><i class="fa fa-chevron-right"></i></a></li>
      <li class="collection-item avatar"><i
        class="fa fa-file-pdf-o circle deep-orange"></i> <span class="title"><a
        routerLink="./report/deliord">Delivery Order</a></span>
        <p>Management report</p> <a routerLink="./report/deliord"
                                    class="secondary-content"><i class="fa fa-chevron-right"></i></a></li>
      <li class="collection-item avatar"><i
        class="fa fa-file-pdf-o circle deep-orange"></i> <span class="title"><a
        routerLink="./report/stock">Stock Report</a></span>
        <p>Management report</p> <a routerLink="./report/stock"
                                    class="secondary-content"><i class="fa fa-chevron-right"></i></a></li>
      <li class="collection-item avatar"><i
        class="fa fa-file-pdf-o circle deep-orange"></i> <span class="title">
					<a routerLink="./report/memberpts">Member Point History</a>
			</span>
        <p>Management report</p> <a routerLink="./report/memberpts"
                                    class="secondary-content"><i class="fa fa-chevron-right"></i></a></li>
      <li class="collection-item avatar"><i
        class="fa fa-file-pdf-o circle deep-orange"></i> <span class="title"><a
        routerLink="./report/topcust">Top Customer</a></span>
        <p>Management report</p> <a routerLink="./report/topcust"
                                    class="secondary-content"><i class="fa fa-chevron-right"></i></a></li>
    </ul>
  </div>
</div>
